/*Paleta de colores Portafolio*/

/*color: #EC186CFF, #8D2999FF, #6D206EFF, #361446FF, #141959FF, #403BEFFF;*/
body {
  overflow-x: hidden; /* Oculta scroll horizontal */
  width: 100%;
  color: #fffffa;
  font-family: 'Lato', sans-serif;
  background: #EC186CFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #141959FF, #EC186CFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #141959FF, #EC186CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.font-stroke {
  font-size: 1.2em;
  color:#361446FF;
}

.arroba {
  padding-top: 1em;
}

h2 {
  padding: 1em;
}

#skills li{
  padding: 1em;
  cursor: pointer;
}

.social li {
  padding-left: 1em;
  padding-right: 1em;
}

#projects .card {
  margin-bottom: 2em;
}

.card {
  max-width: 15rem;
}

.social li a {
  color: #fff;
}

.social li a:hover {
  color: #EC186CFF;
  text-decoration: none;
}

/* barra */
.navbar-nav li a:hover{
  color: #EC186CFF;
  background-color: #361446FF;
}

.btn-menu{
  background-color: #EC186CFF;
  color:#fff;
}

.navbar-nav li {
  padding-right: 1em;
}

.bg-navbar, .dropdown-menu {
  background-color: #361446FF;
}

.navbar a{
    color:  #fff;
}
/* fin barra */

#about, #skills, #projects, #contact-me{  
  border-bottom: 0.1em solid rgba(1,1,1,0.1);
}

.card-body {
  color: #403BEFFF;
}

.carousel-item img {
  height: 50vh;
  width: auto!important;
}

#about, #skills, #projects, #my-projects, #contact-me {
  padding-top: 3.3em;
}

#about, #skills {
  min-height: 100vh;
}

#contact-me form {
  margin-bottom: 2em;
}

.btn-code {
  background-color: #EC186CFF;
  color: #fff; 
}

.btn-demo {
  background-color: #EC186CFF;
  color: #fff; 
}
.btn-code, .btn-demo {
  margin-bottom: 0.5em;
}

.icon {
  font-size: 4.5em;
}

footer {
  position: relative;
  width: 100%;

  bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  background-color: rgba(0,0,0,0.5);
}

/* Contacto */

textarea.form-control {
    height: 8em;
}

.submit {
  font-size: 1.1em;
  float: right;
  margin-top: 0.5em;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  border: 2px solid 
}

.submit:hover {
  color: #EC186CFF;
  background-color: #361446FF;
  /* opacity: 0.5; */
}

.card-body {
  color: #fffffa;
  background: #EC186CFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #141959FF, #EC186CFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #141959FF, #EC186CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-text {
  min-height: 5.3em;
}

/* Canvas */
.canvas {
  background: #141959FF;
  overflow: hidden;
  width: 100%;
}