/*Paleta de colores Portafolio*/

/*color: #EC186CFF, #8D2999FF, #6D206EFF, #361446FF, #141959FF, #403BEFFF;*/
body {
  overflow-x: hidden; /* Oculta scroll horizontal */
  width: 100%;
  color: #fffffa;
  font-family: 'Lato', sans-serif;
  /* background: rgba(109,32,110,1);
  background: -moz-linear-gradient(top, rgba(109,32,110,1) 0%, rgba(54,20,70,1) 58%, rgba(20,25,89,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(109,32,110,1)), color-stop(58%, rgba(54,20,70,1)), color-stop(100%, rgba(20,25,89,1)));
  background: -webkit-linear-gradient(top, rgba(109,32,110,1) 0%, rgba(54,20,70,1) 58%, rgba(20,25,89,1) 100%);
  background: -o-linear-gradient(top, rgba(109,32,110,1) 0%, rgba(54,20,70,1) 58%, rgba(20,25,89,1) 100%);
  background: -ms-linear-gradient(top, rgba(109,32,110,1) 0%, rgba(54,20,70,1) 58%, rgba(20,25,89,1) 100%);
  background: linear-gradient(to bottom, rgba(109,32,110,1) 0%, rgba(54,20,70,1) 58%, rgba(20,25,89,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d206e', endColorstr='#141959', GradientType=0 ); */
background: #EC186CFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #141959FF, #EC186CFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #141959FF, #EC186CFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
  padding: 1em;
  /* background-color: rgba(0,0,0,0.5); */
}

#skills li{
  padding: 0.5em;
  cursor: pointer;
}

.social li {
  padding-left: 1em;
  padding-right: 1em;
}

#projects .card {
  margin-bottom: 2em;
}

.card {
  max-width: 15rem;
}

.social li a {
  color: #fff;
}

.social li a:hover {
  color: #EC186CFF;
  text-decoration: none;
}

.navbar-nav li a:hover{
  color: #EC186CFF;
  background-color: #361446FF;
}

.navbar-nav li {
  padding-right: 1em;
}

#about, #skills, #projects, #contact-me{  
  border-bottom: 0.1em solid rgba(1,1,1,0.1);
}

.bg-navbar, .dropdown-menu {
  background-color: #361446FF;
}

.card-body {
  color: #403BEFFF;
}

.carousel-item img {
  height: 50vh;
  width: auto!important;
}

.navbar a{
    color:  #fff;
}

#about, #skills, #projects, #my-projects, #contact-me {
  padding-top: 3.3em;
}

#about, #skills {
  min-height: 100vh;
}

#contact-me form {
  margin-bottom: 2em;
}
.btn-demo {
  background-color: #361446FF;
  color: #EC186CFF; 
}

footer {
  position: relative;
  width: 100%;

  bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  background-color: rgba(0,0,0,0.5);
}

/* Contacto */

textarea.form-control {
    height: 8em;
}

.submit {
  font-size: 1.1em;
  float: right;
  margin-top: 0.5em;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  border: 2px solid 
}

.submit:hover {
  color: #EC186CFF;
  background-color: #361446FF;
  /* opacity: 0.5; */
}

/* Canvas */
.canvas {
  background: #141959FF;
  overflow: hidden;
  width: 100%;
}